
#wrapper{
    margin: 0;
    padding: 0;
	width: 100%;
	height: 100%;
    font-family: Open Sans;
}

#header{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 11em;
	background-image: url(Images/marquesina.jpg);
	background-size: 2800px;
	background-position: left;
}

#logo-top img{
    margin: 0; 
    padding: 0;
	width: 500px;
	left: 300px;
	position: absolute;
	top: 25px;
}

#main-navigation ul{
	background: #07157b;
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

#main-navigation li{
	margin: 7px 15px;
	padding: 20px;
	color: #fff;
	display: inline-block;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 21px;
}

#main-navigation li:first-child{
	background: #1d6edb;
	border: #1d6edb;
}

#main-body{
	margin: 0;
	padding: 0;
    background-image: url(Images/backgr.png);
	background-size: 100vw;
}

#logo-titles{
	margin: 0;
    padding: 0;
	width: 100%;
}

#logo-titles img{
	margin: 50px 0px;
	margin-left: 10vw;
	padding: 0;
	width: 13vw;
}

#bienvenidos{
	margin: 0;
	margin-left: 40px;
	padding: 0;
	display: inline-block;
	position: relative;
	top: -150px;
}

#bienvenidos h2{
	margin: 0;
	padding: 0;
	line-height: 45px;
}

.cap-letters{
	margin-bottom: 70px;
	text-transform: uppercase;
	color: #fff;
	font-size: 260%;
}

#bienvenidos h2:first-child{
	margin-bottom: 10px;
} 

.small-letters{
	font-size: 85%;
	font-weight: 400;
}

#texto-suscribete{
	margin: 0;
	margin-left: 10vw;
	padding: 0;
	width: 1000px;
	background: #07152b;
	position: absolute;
}

#texto{
	margin: 20px;
	padding: 0;
	width: auto;
	display: inline-block;
}

#texto h2{
	margin: 0;
	padding: 7px;
	line-height: 30px;
	font-weight: 500;
}

a.bottom{
	padding: 15px 50px;
	border: 5px solid #fff;
	font-size: 24px;
	font-weight: 600;
	text-decoration: none;
	color: #fff;
	background: #07157b;
}

a.bottom:hover{
	background: #fff;
	color: #07157b;
	object-position: right;
}

#people img{
	position: relative;
	margin-left: 1050px;
	margin-top: -200px;
}

#flags-section{
	margin: 0;
	padding: 0;
}

#flags-section ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

#flags-section li{
	display: inline-block;
}


#future-events{
	margin: 0;
	padding: 0;
	text-align: center;
}

#future-events img{
	margin: 0;
	margin-top: 3.5vw;
	width: 72vw;
	display: inline-block;
}

#future-events h3{
	text-align: center;
	font-size: 2vw;
	font-weight: 400;
	margin: 0;
	margin-top: 2.5vw;
	padding: 0;
} 

#events-section{
	margin: 0;
	margin-top: 0.5vw;
	padding: 0;
}

#events-section div{
	display: inline-block;
}

.events{
	margin: 0.8vw;
	margin-bottom: 4vw;
	width: 23vw;
	height: 12.5vw;
	text-align: center;
}

.title1{
	margin: 0;
	margin-top: 3.5vw;
	padding: 0;
	font-size: 1.2vw;
	font-weight: 500;
	color: #fff;
}

.title2{
	margin: 0.4vw 0px 0.6vw 0px;
	font-size: 0.9vw;
	font-weight: 200;
	color: #fff;
}

a.rounded{
	background: none;
	border: 3px solid #fff;
	border-radius: 1vw;
	padding-left: 1.5vw;
	padding-right: 1.5vw;
	display:inline-block;
}

#event1{
	background-image: url(Images/di-1.jpg);
	background-size: 26vw;
}

#event2{
	background-image: url(Images/ni-1.jpg);
	background-size: 30vw;
}

#event3{
	background-image: url(Images/gct-1.jpg);
	background-size: 30vw;
}

#alianzas{
	margin: 0;
	padding: 0;
	height: 7.3vw;
	background-image: url(Images/alian.jpg);
	background-size: 125vw;
}

#alianzas h3{
	display: inline-block;
	margin: 0 15.7vw 0 19vw;
	padding: 0;
	font-size: 1.8vw;
	font-weight: 400;
}

#alianzas img{
	margin: 0;
	margin-left: 7.7vw;
	padding: 0;
	width: 5.3vw;
}

#alianzas img:last-child{
	width: 10vw;
	margin-left: 5.5vw;
}

#contact-details{
	margin: 0;
	padding: 0;
	background-image: url(Images/footers.jpg);
	text-align: center;
}

#content{
	margin: 0;
	padding: 0;
	width: 71vw;
	display: inline-block; 
}

.footer{
	margin: 0.3vw 0;
	padding: 0;
	text-align: left;
	font-size: 0.9vw;
	color: #fff;
}

.bold{
	margin: 1vw 0;
}

.font-awesome{
	margin: 0;
	padding: 0;
	font-family: fontAwesome;
	color: #fff;
	font-size: 1vw;
}